#mainNav {
  position: fixed;
  z-index: 1200;
  width: 35%;
  height: 100%;
  opacity: 1;
  transition: 0.5s;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  font-family: "Cormorant SC", "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#mainNav .navbar-brand {
  font-weight: 700;
  color: #000;
  font-family: "Cormorant SC", "Helvetica Neue", Arial, sans-serif;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ff537e;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 3.7rem;
  font-weight: 700;
  color: #212529;
}
@media screen and (max-width: 899px), (max-height: 550px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: 2.5rem;
  }
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #ff547e;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #ff547e !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: #000;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #ff547e;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #b5ffea;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #adb5bd;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #000;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #b5ffea;
  }
}
@media screen and (max-width: 899px), (max-height: 550px) {
  #mainNav {
    position: absolute;
    z-index: 1200;
    width: 100%;
    height: 60%;
    z-index: 15;
    opacity: 1;
    transition: 0.5s;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
}

#mainNav::-webkit-scrollbar {
  width: 1px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
#mainNav::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.brand_name {
  font-size: 1em !important;
  line-height: 1em !important;
  margin-left: 3.6%;
  width: 35%;
  color: #000;
  z-index: 2500;
}
@media screen and (max-width: 899px), (max-height: 550px) {
  .brand_name {
    width: 100%;
    text-align: center;
    margin-left: 0%;
  }
}

.org_logo {
  position: relative;
  width: 5vw;
  margin-left: 3.6%;
  margin-top: 30vh;
  padding-right: 0.5vw;
  mix-blend-mode: multiply;
}

.text-primary {
  color: #ff547e !important;
}

.text-black {
  color: #000;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: "Cormorant SC", "Helvetica Neue", Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #ff547e;
  border-color: #ff547e;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ff3b6b !important;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
  text-transform: lowercase;
  padding-top: 1em;
}

p {
  font-size: 1.25em;
}

header.masthead {
  padding-top: 12rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header2.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
header.masthead h1 {
  font-size: 2rem;
}
header.masthead p {
  font-weight: 300;
}
@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
  header.masthead p {
    font-size: 1.3rem;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(255, 84, 126, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: "Cormorant SC", "Helvetica Neue", Arial, sans-serif;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.project-name {
  font-size: 18px;
}

.project-step_name {
  font-size: 24px;
  font-family: "Cormorant SC", "Helvetica Neue", Arial, sans-serif;
}

.project-step_desc {
  font-size: 14px;
  padding-left: 7%;
}
@media screen and (max-width: 899px), (max-height: 550px) {
  .project-step_desc {
    padding-left: 0%;
  }
}

#main {
  padding-left: 5vw;
}
@media screen and (max-width: 899px), (max-height: 550px) {
  #main {
    margin-top: -35vh;
  }
}

.step-num {
  font-size: 95px;
  font-family: "Cormorant SC", "Helvetica Neue", Arial, sans-serif;
  position: relative;
  top: -30px;
  font-weight: bold;
}

html, body {
  height: 100% !important;
  width: 100%;
  background-image: url("../img/bg.png");
}

body {
  font-family: "Crimson Text", Courier;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
body::-webkit-scrollbar-thumb {
  background: #b5ffea;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #ff547e;
}

hr.light {
  border-color: #fff;
}

a {
  color: #ff547e;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #ff537e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant SC", "Helvetica Neue", Arial, sans-serif;
}

.bg-primary {
  background-color: #ff547e !important;
}

.bg-dark {
  background-color: #ff5050 !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.text-masthead {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
}

section {
  padding: 1rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#step2_red_gif, #step2_cur_gif, #step2_redesign, #step2_current {
  -webkit-transition: height 1s ease-out;
  /* Safari */
  transition: height 1s ease-out;
}

.StepActive {
  color: #ffd3dd !important;
}

#mobile {
  display: none;
}

/*>900 overlay for mobile*/
/*@media screen and (max-width: 899px), (min-aspect-ratio: 9/4), (max-height: 550px)  {

  #main, #mainNav,.iceberg {
    display: none;
  }
  #mobile {
    display: block;
    margin: 30px;
    font-size: 30px;
    line-height: 34px;
    color: $white;
  }
}*/
/*open fact*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2500;
  top: 0;
  right: 0;
  background-color: #fff;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  border-left: 1px solid #c6293e;
}

.sidenav::-webkit-scrollbar {
  width: 3px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
.sidenav::-webkit-scrollbar-thumb {
  background: #ff547e;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 36px;
  margin-left: 50px;
  vertical-align: text-top;
  color: #000;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
span.fact {
  color: #ff547e;
}

#sup_empty {
  width: 30%;
  transition: 0.5s;
}

.iceberg {
  height: 100vh;
  background: linear-gradient(90deg, #c6293e 59%, #34ff07 69%);
  background: -moz-linear-gradient(90deg, #c6293e 59%, #34ff07 69%);
  background: -webkit-linear-gradient(90deg, #c6293e 59%, #34ff07 69%);
  background: -o-linear-gradient(90deg, #c6293e 59%, #34ff07 69%);
  cursor: hand;
  margin-left: -10vw;
}
@media screen and (max-width: 899px), (max-height: 550px) {
  .iceberg {
    scale: 0.3;
    padding-top: 0%;
    margin-left: 0vw;
    background: linear-gradient(90deg, #34ff07 65%, #FFF 79%);
    background: -moz-linear-gradient(90deg, #34ff07 65%, #FFF 79%);
    background: -webkit-linear-gradient(90deg, #34ff07 65%, #FFF 79%);
    background: -o-linear-gradient(90deg, #34ff07 65%, #FFF 79%);
    -ms-transform: scale(1, 0.3);
    /* IE 9 */
    -webkit-transform: scale(1, 0.3);
    /* Safari */
    transform: scale(1, 0.3);
    overflow: hidden;
  }
}

.iceberg::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.box1 {
  position: absolute;
  width: 4vw;
  height: 5vh;
  left: 1000px;
  top: 200px;
  background-color: yellow;
  background-image: url("../img/24kgold.gif");
}

.box1_2 {
  position: absolute;
  width: 4vw;
  height: 5vh;
  left: 1000px;
  top: 200px;
  background-color: yellow;
  background-image: url("../img/worker.gif");
  background-size: cover;
}

.box2, .box3 {
  position: absolute;
  opacity: 0.8;
  z-index: 12;
}

.box2 {
  background-color: #ff547e;
  width: 8vw;
  height: 10vh;
}

.box3 {
  background-color: #b5ffea;
  width: 12vw;
  height: 20vh;
}

.box2:hover, .box3:hover {
  display: none;
  transition: 3s;
}

.boxtext1 {
  position: absolute;
  width: 12vw;
  height: 5vh;
  padding: 1vh 0vh 1vh 2vh;
  color: white;
  z-index: 99;
  font-size: 1.2em;
  font-family: Comic Sans MS, arial;
  opacity: 0.4;
}

.boxtext2 {
  position: absolute;
  width: 12vw;
  height: 5vh;
  padding: 1vh 0vh 1vh 2vh;
  z-index: 99;
  color: purple;
  font-size: 0.8em;
  font-family: Comic Sans MS, arial;
  opacity: 0.4;
}

.gif_washing {
  background-image: url("../img/washing.gif");
}

.gif_foodsharing {
  background-image: url("../img/foodsharing.gif");
}

.gif_sharing {
  background-image: url("../img/sharing.gif");
}

.gif_worker {
  background-image: url("../img/worker.gif");
}

.gif_steal {
  background-image: url("../img/steal.gif");
}

.gif_washing2 {
  background-image: url("../img/washing2.gif");
}

.gif_cook {
  background-image: url("../img/cook.gif");
}

.gif_harvest {
  background-image: url("../img/harvest.gif");
}

.gif_hug {
  background-image: url("../img/hug.gif");
}

.gif_hug2 {
  background-image: url("../img/hug2.gif");
}

.gif_gift {
  background-image: url("../img/gift.gif");
}

.gif_sharing, .gif_foodsharing, .gif_washing, .gif_worker, .gif_cook, .gif_harvest, .gif_hug, .gif_hug2, .gif_gift {
  position: absolute;
  width: 8vw;
  height: 10vh;
  z-index: 10;
  background-size: contain;
}

.gif_washing2, .gif_steal {
  position: absolute;
  width: 12vw;
  height: 20vh;
  z-index: 10;
  background-size: cover;
}

.ie:hover {
  cursor: none;
  background-image: url("../img/ie4.gif");
  background-size: contain;
}

.x1 {
  left: 0vw;
}

.x2 {
  left: 4vw;
}

.x3 {
  left: 8vw;
}

.x4 {
  left: 12vw;
}

.x5 {
  left: 16vw;
}

.x6 {
  left: 20vw;
}

.x7 {
  left: 24vw;
}

.x8 {
  left: 28vw;
}

.x9 {
  left: 32vw;
}

.x10 {
  left: 36vw;
}

.x11 {
  left: 40vw;
}

.x12 {
  left: 44vw;
}

.x13 {
  left: 48vw;
}

.x14 {
  left: 52vw;
}

.x15 {
  left: 56vw;
}

.x16 {
  left: 60vw;
}

.x17 {
  left: 64vw;
}

.x18 {
  left: 68vw;
}

.x19 {
  left: 72vw;
}

.x20 {
  left: 76vw;
}

.y1 {
  top: 0vh;
}

.y2 {
  top: 5vh;
}

.y3 {
  top: 10vh;
}

.y4 {
  top: 15vh;
}

.y5 {
  top: 20vh;
}

.y6 {
  top: 25vh;
}

.y7 {
  top: 30vh;
}

.y8 {
  top: 35vh;
}

.y9 {
  top: 40vh;
}

.y10 {
  top: 45vh;
}

.y11 {
  top: 50vh;
}

.y12 {
  top: 55vh;
}

.y13 {
  top: 60vh;
}

.y14 {
  top: 65vh;
}

.y15 {
  top: 70vh;
}

.y16 {
  top: 75vh;
}

.y17 {
  top: 80vh;
}

.y18 {
  top: 85vh;
}

.y19 {
  top: 90vh;
}

.y20 {
  top: 95vh;
}

.y21 {
  top: 100vh;
}

.y22 {
  top: 105vh;
}

.y23 {
  top: 110vh;
}
