// Styling for the navbar
#mainNav {
  position: fixed;
  z-index: 1200;
  width: 45%;
  height: 100%;
  opacity: 1;
  transition: 0.5s;
  background-color: $white;
  overflow: scroll;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 700;
    color: $black;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: darken($brand-01, .1);
    }
  }
  .navbar-nav {
    > li.nav-item {
      > a.nav-link,
      > a.nav-link:focus {
        font-size: 2rem;
        font-weight: 700;
        color: $gray-900;
        &:hover {
          color: $brand-01;
        }
        &.active {
          color: $brand-01 !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      color: $black;
      &:focus,
      &:hover {
        color: $white;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: $brand-01;
      &:hover {
        color: $brand-02;
      }
    }
    &.navbar-shrink {
      .navbar-brand {
        color:  $gray-900;
        &:focus,
        &:hover {
          color: darken($gray-500, .1);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $black;
        &:hover {
          color: $brand-02;
        }
      }
    }
  }
}

#mainNav::-webkit-scrollbar {
  width: 1px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
#mainNav::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.brand_name{
  font-size: 0.8em !important;
  line-height: 1em !important;
  width: 45%;
  color: $white;
  z-index: 2500;
}
